
@font-face {font-family: "Vonique 64";
    src: url("/font/vonique-64-edit.64.ttf") format("truetype");
}

@font-face {font-family: "LT Oksana";
    src: url("/font/LT-Oksana.ttf") format("truetype");
    }


  body{
      background-color: lightgray;
  }

/* Navbar editing*/
.navbar{
  background-color: darkgray;
}

.navbar-style{
  padding: 2%;
}

.navbar-brand
{
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin:0 auto;
}

.navbar-nav > li, .navbar-wrapper{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
}

/* Margin to cope with header*/
h1[id]::before, h2[id]::before, h3[id]::before{
  display: block;
  content: " ";
  margin-top: 0px;
  height: 120px;
  visibility: hidden;
}

.container{
  border-top:50px;
}

/*Wider contents*/
.container-content{
}

.gallery-pe2017{
  margin-top: 1%;
  position: absolute;
  left:4%;
  width: 92%;
}

.brand{
    font-family: 'Vonique 64';
    font-size: 90px;
    color: white;
}

.slick-slide img{
  padding: 0px 5px 0px 5px;
}

.img-descr {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: lightgray;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  /*remove comment if you want a gradual transition between states
      -webkit-transition: visibility opacity 0.2s;
      */
}
.img-hover{
  position: relative;
}

.img-hover h2{
  margin: 0px;
  padding: 40px;
  color: black;
  font-size: 55px;
}

.img-hover:hover .img-descr {
  visibility: visible;
  opacity: 0.6;
  z-index: 1000;
}
