<div class="container">
  <div class="row">
    <div class="col s12" style="margin-top:5%">
        <h1 class="center-align" id="page-title" style="font-family:'Poiret One'; padding-bottom: 1%;">Chi siamo</h1>

        <p class="about-text">
          <span style="font-weight:bold;">Hanami</span>, letteralmente <span style="font-weight:bold;">"ammirare i fiori"</span>
           è un termine giapponese che si riferisce alla tradizionale usanza di godere
          del fascino della fioritura primaverile degli alberi, in particolare di quella dei ciliegi.<br>
          Il fiore del ciliegio, la sua delicatezza, la brevità della sua esistenza sono il simbolo della <span style="font-weight:bold;">fragilità</span>
           e della <span style="font-weight:bold;">temporaneità
          della vita</span> ma anche della <span style="font-weight:bold;">rinascita</span>,
          della <span style="font-weight:bold;">bellezza di un nuovo inizio.</span><br>
          Le <span style="font-weight:bold;">creazioni Hanami</span> sono <span style="font-weight:bold;">uniche</span> e
          di <span style="font-weight:bold;">particolare pregio</span>.<br>
          Tutto questo è alla base del progetto, tutto questo è ogni <span style="font-weight:bold;">capo Hanami</span>.
        </p>
        <div class="center-align">
          <video class="responsive-video" preload="none" controls poster="images/snapshot.png">
            <source src="images/video/hanami_white_low.mp4" type="video/mp4">
          </video>
        </div>


    </div>

  </div>
  <div class="row">

  </div>
</div>
<footer class="page-footer">
  <div class="hanami-footer-copyright">
    <div>
    © 2017, Hanami di Giulia Roselli | Via G. Leopardi, 16 - Grottammare (AP) | P.IVA: 02274090444 | XF | <a class="right-align" href="https://github.com/robbisg" style="color:gray;">Credits</a>
    </div>
  </div>
</footer>
