<div class="container">
  <div class="row">
    <div class="col s12 content-div">
        <h1 class="center-align" id="page-title" style="font-family:'Poiret One'; padding-bottom: 1%;">Chi siamo</h1>

        <div class="about-text">
          <b>Hanami</b> nasce nel 2016 dal cuore, dalla testa e dalle mani di due sorelle: <b>Giulia</b> e <b>Flavia</b>.

          <p><b>Giulia</b> è una <b>stilista</b>, laureata in scultura all'<b>Accademia di Belle Arti</b> di Macerata
            ed in <b>Moda Creation</b> all'UED di Pescara.
          Fin da bambina ha trasmesso una voglia trascinante di <b>creare</b>
          e sperimentare attraverso la <b>moda</b> ed il <b>look</b>.</p>

          <p><b>Flavia</b> è laureata in Lingue, curiosa ricercatrice di <b>spunti creativi</b> e amante della <b>letteratura</b>.</p>

          <p>L'unione delle <b>idee</b> di entrambe e delle <b>mani</b> di Giulia danno alla luce <b>Hanami</b> e
            con esso un <b>nuovo inizio</b>, una <b>fioritura</b>.<br>
          Ogni <b>abito</b> è realizzato nel piccolo negozio e <b>laboratorio</b> di uno splendido borgo marchigiano, <b>Grottammare</b>.</p>

          <p>Ogni capo <b>Hanami</b> è un <b>"pezzo unico"</b>, <b>artigianale</b>, di qualità e <b>valore</b>,
            frutto di scelte che vanno dallo schizzo su carta,
          alla <b>selezione del tessuto</b>, agli <b>accostamenti cromatici</b> e all'emozione che vogliamo trasmettere.</p>

          Crediamo nell'<b>unicità</b> e nella bellezza di essere diversi,
          per questo il concept si fonda sulla <b>produzione singola</b> di ogni capo.
          Amiamo vedere come chi indossa le <b>creazioni Hanami</b> sceglie di indossare anche l'<b>animo</b> dell'abito. <br>

          Adoriamo rovistare nei vecchi armadi di famiglia ed nei bauli di <b>nonna Lola</b>!
          <br>Tutto è <b>ispirazione</b> per il nostro <b>animo bohémien</b>,
          dalla storia della <b>moda</b> e del <b>costume</b> alla <b>street fashion</b> dei nostri tempi.
        </div>
        <div class="center-align">
          <video class="responsive-video" preload="none" controls poster="images/snapshot.png">
            <source src="images/video/hanami_white_low.mp4" type="video/mp4">
          </video>
        </div>


    </div>

  </div>
  <div class="row">

  </div>
</div>
<footer class="page-footer">
  <div class="hanami-footer-copyright">
    <div>
    © 2017, Hanami di Giulia Roselli | Via G. Leopardi, 16 - Grottammare (AP) | P.IVA: 02274090444 | XF | <a class="right-align" href="https://github.com/robbisg" style="color:gray;">Credits</a>
    </div>
  </div>
</footer>
