<div class="container">
  <div class="row">
    <div class="col s12 content-div">
        <h1 class="center-align" id="page-title" style="font-family:'Poiret One'; padding-bottom: 1%;">Contatti</h1>
        <div class="about-text center-align">
          <div id="timeDiv" data-ng-init="init()">
          </div>
        <br>
          Siamo in <span style="font-weight:bold;">Via Leopardi 16</span>, a
          <span style="font-weight:bold;">Grottammare</span>. Clicca sull'orologio per conoscere i nostri orari di apertura!
          <br>
          <div>
            <ul class="contacts-list" style="margin-bottom:0px;">
            <li>
              <a data-target="openingModal" modal="" open="openModal" href>
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-clock-o fa-stack-1x fa-inverse"></i>
                </span>

              </a>
            </li>
            <li>
              <a class="" href="https://www.facebook.com/Hanami-di-Giulia-Roselli-1731233787151948/" target="_blank">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x" style="color:darkblue;"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>

              </a>
            </li>
            <li>
                <a class="" href="https://www.instagram.com/hanami_clothing/" target="_blank">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x" style="color:#ab0451;"></i>
                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
            </li>
            <li>
                <a class="" href="mailto:giuliaroselli@hanamiclothing.it">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x" style="color:#ff6363;"></i>
                    <i class="fa fa-paper-plane-o fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
            </li>
          </ul>
          </div>

        </div>


        <div class="center-align">
          <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1459.2207557313411!2d13.869686072871172!3d42.99003694422441!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x348cbfac0f43c0ba!2sHanami+di+Giulia+Roselli!5e0!3m2!1sen!2sit!4v1504278102415"
          width="800"
          height="600"
          frameborder="0"
          style="border:0; width:100%;"
          allowfullscreen>
          </iframe>
        </div>
    </div>
  </div>

</div>

<div id="openingModal" class="modal openingModal">
    <div class="modal-content">
      <h4 class="center-align"><i class="fa fa-clock-o" aria-hidden="true"></i> Ecco i nostri orari <i class="fa fa-clock-o" aria-hidden="true"></i></h4>
      <div class="divider" style="margin-bottom: 10px;"></div>
      <div id="Monday" class="row dateTime">
        <div class="col l2 hide-on-med-and-down"></div>
        <div class="col l4 s6 day">Lunedì</div>
        <div class="col l4 s6 right-align">4.30pm - 8pm</div>
        <div class="col l2 hide-on-med-and-down"></div>
      </div>
      <br>
      <div id="Tuesday" class="row dateTime">
        <div class="col l2 hide-on-med-and-down"></div>
        <div class="col l4 s6 day">Martedì</div>
        <div class="col l4 s6 right-align">10am - 1pm &#183; 4.30pm - 8pm</div>
        <div class="col l2 hide-on-med-and-down"></div>
      </div>
      <br>
      <div id="Wednesday" class="row dateTime">
        <div class="col l2 hide-on-med-and-down"></div>
        <div class="col l4 s6 day">Mercoledì</div>
        <div class="col l4 s6 right-align">10am - 1pm &#183; 4.30pm - 8pm</div>
        <div class="col l2 hide-on-med-and-down"></div>
      </div>
      <br>
      <div id="Thursday" class="row dateTime">
        <div class="col l2 hide-on-med-and-down"></div>
        <div class="col l4 s6 day">Giovedì</div>
        <div class="col l4 s6 right-align">10am - 1pm &#183; 4.30pm - 8pm</div>
        <div class="col l2 hide-on-med-and-down"></div>
      </div>
      <br>
      <div id="Friday" class="row dateTime">
        <div class="col l2 hide-on-med-and-down"></div>
        <div class="col l4 s6 day">Venerdì</div>
        <div class="col l4 s6 right-align">10am - 1pm &#183; 4.30pm - 8pm</div>
        <div class="col l2 hide-on-med-and-down"></div>
      </div>
      <br>
      <div id="Saturday" class="row dateTime">
        <div class="col l2 hide-on-med-and-down"></div>
        <div class="col l4 s6 day">Sabato</div>
        <div class="col l4 s6 right-align">10am - 1pm &#183; 4.30pm - 8pm</div>
        <div class="col l2 hide-on-med-and-down"></div>
      </div>
      <br>
      <div id="Sunday" class="row dateTime">
        <div class="col l2 hide-on-med-and-down"></div>
        <div class="col l4 s6 day">Domenica</div>
        <div class="col l4 s6 right-align">Chiuso</div>
        <div class="col l2 hide-on-med-and-down"></div>
      </div>
      <br>
    </div>
</div>
<footer class="page-footer">
  <div class="hanami-footer-copyright">
    <div>
    © 2017, Hanami di Giulia Roselli | Via G. Leopardi, 16 - Grottammare (AP) | P.IVA: 02274090444 | XF | <a class="right-align" href="https://github.com/robbisg" style="color:gray;">Credits</a>
    </div>
  </div>
</footer>
