<navbar-hanami opacity-value=0></navbar-hanami>
<!-- Mobile -->
<div class="container-fluid hide-on-med-and-up show-on-medium">
  <div class="row">
    <div class="col s12">
      <img class="responsive-img home-img" src="images/collection/pe2018/web/33_back.jpg" style="width:100%;">
    </div>
  </div>

    <div class="row">
      <div class="col s12">
        <p class="center-align home-logo vertical-align" style="width:100%; margin-top: 0px;">Hanami</p>
      </div>
    </div>
    <div class="col s12 home-list" style="height:2%;">
      <p class="center-align"><a ui-sref="content.collezioni({collectionId:'ss2018'})">Spring Summer 2018</a></p>
    </div>

</div>

<!-- Web -->
<div class="container-fluid hide-on-med-and-down">
    <div class="row" style="margin-bottom: 0px;">
        <div class="col l6 home-img" style=""></div>
        <div class="col l6">
          <div>
            <p class="center-align home-logo vertical-align" style="width:100%; margin-bottom: 0px; margin-top:30%;">Hanami</p>
          </div>
          <div class="home-list" style="height:20%;">
            <p class="right-align"><a ui-sref="content.collezioni({collectionId:'ss2018'})">Spring Summer 2018</a></p>
          </div>
          <footer class="hanami-page-footer page-footer">
            <div class="hanami-footer-copyright">
              <div>
              © 2017, Hanami di Giulia Roselli | Via G. Leopardi, 16 - Grottammare (AP) | P.IVA: 02274090444 | XF | <a class="right-align" href="https://github.com/robbisg" style="color:gray;">Credits</a>
            </div>
          </footer>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/dropdown.js"></script>
