<div id="openingModal" class="modal">
    <div class="modal-content">
      <h4 class="center-align"><i class="fa fa-clock-o" aria-hidden="true"></i> Ecco i nostri orari <i class="fa fa-clock-o" aria-hidden="true"></i></h4>
      <div class="divider" style="margin-bottom: 10px;"></div>
      <div id="Monday" class="row dateTime">
        <div class="col s2"></div>
        <div class="col s4 day">Lunedì</div>
        <div class="col s4 right-align">4.30pm - 8pm</div>
        <div class="col s2"></div>
      </div>
      <br>
      <div id="Tuesday" class="row dateTime">
        <div class="col s2"></div>
        <div class="col s4  day">Martedì</div>
        <div class="col s4 right-align">10am - 1pm &#183; 4.30pm - 8pm</div>
        <div class="col s2"></div>
      </div>
      <br>
      <div id="Wednesday" class="row dateTime">
        <div class="col s2"></div>
        <div class="col s4 day">Mercoledì</div>
        <div class="col s4 right-align">10am - 1pm &#183; 4.30pm - 8pm</div>
        <div class="col s2"></div>
      </div>
      <br>
      <div id="Thursday" class="row dateTime">
        <div class="col s2"></div>
        <div class="col s4 day">Giovedì</div>
        <div class="col s4 right-align">10am - 1pm &#183; 4.30pm - 8pm</div>
        <div class="col s2"></div>
      </div>
      <br>
      <div id="Friday" class="row dateTime">
        <div class="col s2"></div>
        <div class="col s4 day">Venerdì</div>
        <div class="col s4 right-align">10am - 1pm &#183; 4.30pm - 8pm</div>
        <div class="col s2"></div>
      </div>
      <br>
      <div id="Saturday" class="row dateTime">
        <div class="col s2"></div>
        <div class="col s4 day">Sabato</div>
        <div class="col s4 right-align">10am - 1pm &#183; 4.30pm - 8pm</div>
        <div class="col s2"></div>
      </div>
      <br>
      <div id="Sunday" class="row dateTime">
        <div class="col s2"></div>
        <div class="col s4 day">Domenica</div>
        <div class="col s4 right-align">Chiuso</div>
        <div class="col s2"></div>
      </div>
      <br>
    </div>
</div>
