<!-- Mobile side menu dropdown -->
<ul id="collection-dropdown-mobile" class="dropdown-content">
  <li><a ui-sref="content.collezioni({collectionId:'ss2016'})">Spring Summer 2016</a></li>
  <li><a ui-sref="content.collezioni({collectionId:'ss2017'})">Spring Summer 2017</a></li>
  <li><a ui-sref="content.collezioni({collectionId:'fw2018'})">Fall Winter 2018</a></li>
  <li><a ui-sref="content.collezioni({collectionId:'ss2018'})">Spring Summer 2018</a></li>
</ul>


<!-- Mobile side menu -->
<div class="show-on-medium-and-down">
  <ul id="nav-mobile" class="side-nav">
    <li><a ui-sref="home">Home</a></li>
    <li>
      <ul class="collapsible" data-collapsible="accordion" watch>
          <li>
              <div class="collapsible-header">Collezioni</div>
              <div class="collapsible-body">
                <ul >
                  <li><a ui-sref="content.collezioni({collectionId:'ss2016'})">SS 2016</a></li>
                  <li><a ui-sref="content.collezioni({collectionId:'ss2017'})">SS 2017</a></li>
                  <li><a ui-sref="content.collezioni({collectionId:'fw2018'})">FW 2018</a></li>
                  <li><a ui-sref="content.collezioni({collectionId:'ss2018'})">SS 2018</a></li>
                </ul>
              </div>
          </li>
      </ul>
    </li>
    <li><a ui-sref="content.shop">Shop</a></li>
    <li><a ui-sref="content.about">Chi siamo</a></li>
    <li><a ui-sref="content.contacts">Contatti</a></li>
    <li>
      <a class="" href="https://www.facebook.com/Hanami-di-Giulia-Roselli-1731233787151948/" target="_blank">
              <i class="fa fa-facebook fa-1x"></i>

      </a>
    </li>
    <li>
        <a class="" href="https://www.instagram.com/hanami_clothing/" target="_blank">
              <i class="fa fa-instagram fa-1x"></i>
        </a>
    </li>
    <li>
        <a class="" href="mailto:giuliaroselli@hanamiclothing.it">
          <i class="fa fa-paper-plane-o fa-1x"></i>            </a>
    </li>
  </ul>
</div>




<div class="navbar-fixed" ng-controller="NavController" >


<!-- Site menu dropdown -->
  <ul id="collection-dropdown-main" class="dropdown-content">
    <li><a ui-sref="content.collezioni({collectionId:'ss2016'})">Spring Summer 2016</a></li>
    <li><a ui-sref="content.collezioni({collectionId:'ss2017'})">Spring Summer 2017</a></li>
    <li><a ui-sref="content.collezioni({collectionId:'fw2018'})">Fall Winter 2018</a></li>
    <li><a ui-sref="content.collezioni({collectionId:'ss2018'})">Spring Summer 2018</a></li>
  </ul>

  <nav>

    <div class="nav-wrapper">

      <!-- Brand -->
      <a href="#" data-activates="nav-mobile" class="button-collapse" data-sidenav="left" data-closeonclick="true">
                      <i class="material-icons">menu</i>
                  </a>
      <a href="#!" class="brand-logo" style="opacity:{{opacityValue}};">Hanami</a>


      <!-- Menu -->
      <ul class="right hide-on-med-and-down">
        <li><a ui-sref="home">Home</a></li>
        <li><a class="dropdown-button"
               ui-sref="content.collezioni({collectionId:'ss2018'})"
               data-activates="collection-dropdown-main"
               dropdown
               data-beloworigin="true"
               data-hover="true">Collezioni</a></li>
        <li><a ui-sref="content.shop">Shop</a></li>
        <li><a ui-sref="content.about">Chi siamo</a></li>
        <li><a ui-sref="content.contacts">Contatti</a></li>
        <li>
          <a class="" href="https://www.facebook.com/Hanami-di-Giulia-Roselli-1731233787151948/" target="_blank">
                  <i class="fa fa-facebook fa-1x"></i>

          </a>
        </li>
        <li>
            <a class="" href="https://www.instagram.com/hanami_clothing/" target="_blank">
                  <i class="fa fa-instagram fa-1x"></i>
            </a>
        </li>
        <li>
            <a class="" href="mailto:giuliaroselli@hanamiclothing.it">
              <i class="fa fa-paper-plane-o fa-1x"></i>            </a>
        </li>
      </ul>




    </div>
  </nav>
</div>
