<div class="container-fluid">
  <div class="row">

    <div class=" shop-main-col col s12" style="padding-top: 10%;"
    itemscope itemtype="http://schema.org/Product">

        <div class="col l6 s12 center-align shop-item-main vertical-align">
          <div class="hide-on-med-and-down"><img class="responsive-img" height=650 ng-src={{item.src}} itemprop="image"></div>
          <div carousel dist="0" shift="280" class="hide-on-large-only">
              <a ng-repeat="subimage in item.images" class="carousel-item" href="javascript:void(0);">
                <img ng-src="{{subimage}}">
              </a>
          </div>
        </div>



        <div class="col l4 s12" >
          <div class="shop-main-text" >
            <div class="shop-item-box">
              <div class="row">
                <div class="col s12 shop-item-name" itemprop="name" style="padding:0px;">{{item.name}}</div>
                <div class="hidden-markup" itemprop="brand" itemscope itemtype="http://schema.org/Brand">
                  <span class="hidden-markup" itemprop="name">Hanami</span>
                </div>
              </div>

            <div class="row shop-item-description" itemprop="description">{{item.description}}
              <div class="shop-item-size">Taglia: {{item.size}}</div></div>


            <div class="row shop-item-price-row" style="" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
              <div ng-if="item.price != 0" >
                <div class="hidden-markup" itemprop="availability" href="http://schema.org/InStock">Disponibile</div>

                <div class="col s2 shop-item-price show-on-large">{{item.price}} <span>€</span></div>
                <div class="col s6 m6 l6 shop-item-discount" itemprop="price" content={{item.discount}}>{{item.discount}}
                  <span itemprop="priceCurrency" content="EUR">€</span>
                  </div>
              </div>
              <div ng-if="item.price == 0" itemprop="availability" href="http://schema.org/OutOfStock">
                  <div class="col s6 m6 shop-item-discount">Non disponibile</div>
              </div>


              <div class="col s2">
                <a class="shop-item-button btn {{item.price == 0 ? 'disabled' : null}}"
                data-target='modal-{{item.id}}' modal>Acquista</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row center-align hide-on-med-and-down shop-subimage-box">
          <div class=" col s4" ng-repeat="subimage in item.images">
            <div class="shop-subimage" style="" ng-class="subimage === item.src ? 'shop-active': none" id={{subimage.slice(-9,-4)}}>

              <a href ng-click="selectItem(subimage, $event)"><img class="" ng-src={{subimage}} width="10%"></a>

            </div>

          </div>
      </div>


      </div>


    </div>
  </div>



  <!-- Modal shop -->
  <div id="modal-{{item.id}}" class="modal" ng-controller="ShopModalController">
      <div class="modal-content">
          <h4 style="color:red;"><i class="fa fa-exclamation" aria-hidden="true"></i> Richiesta disponibilità <i class="fa fa-exclamation" aria-hidden="true"></i></h4>

          <p>Tutti gli articoli Hanami sono pezzi unici che vendiamo anche nel nostro punto vendita.<br>
          E' possibile, perciò, che il capo che hai scelto non sia più disponibile, sfortunatamente! <br>Per verificarne la disponibilità,
          clicca il pulsante Richiedi disponibilità, verrà inviata una mail con il capo che hai richiesto e noi verificheremo
        che non è stato venduto!</p>
      </div>
      <div class="modal-footer">
        <a ng-click="checkAvailability(item.id)" class="modal-action modal-close waves-effect waves-green btn-flat">Richiedi disponibilità</a>
        <a href class="modal-action modal-close waves-effect waves-green btn-flat">Chiudi</a>
      </div>
  </div>
  <footer class="hanami-page-footer page-footer">
    <div class="hanami-footer-copyright">
      <div>
      © 2017, Hanami di Giulia Roselli | Via G. Leopardi, 16 - Grottammare (AP) | P.IVA: 02274090444 | XF | <a class="right-align" href="https://github.com/robbisg" style="color:gray;">Credits</a>
      </div>
    </div>
  </footer>
</div>
